.appName {
  color: aliceblue;
  font-size: large;
  font-weight: 800;
}

.list-Players {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  margin: 0;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
}

.container-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container-teams ol {
  text-align: center;
  align-items: start;
}

.tittle-team {
  text-align: center;
}
h5 {
  text-align: center !important;
}

.list li {
  font-size: 15px;
}

/*  Api Afa */
.top-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.top-container h3 {
  margin: 0;
}

.logo-afa {
  display: flex;
  padding: 10px;
  width: 50px;
}

.info-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.local-logo {
  width: 20px;
  width: 20px;
  margin: 20px;
}

.article-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 0px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container p {
  margin: 10px;
}

.teams-container {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  align-items: center;

}

.teams-container p {
  margin: 0;
}

.ul-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.logo-tabla {
  width: 25px;
}

.table-container {
  table-layout: auto;
}

.info-api-container {
  text-align: center;
}

.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.ul-container li {
  list-style-type: none !important;
}


/* api weather  */
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  text-align: center;
}

.top-card {
  flex-direction: column;
  justify-content: space-around !important;
}

.img-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-inline-start: 50px;
}


