header {
}

.appName {
  color: aliceblue;
  font-size: large;
  font-weight: 800;
}

.list-Players {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  margin: 0;
  height: auto;
}



footer {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
}

.container-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container-teams ol {
  text-align: center;
  align-items: start;
}

.tittle-team {
  text-align: center;
}
h5 {
  text-align: center !important;
}


.list li{
  font-size: 15px;
}