main {
  max-width: 1130px;
}

button{
  background-color: rgb(66, 109, 145);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

header {
  padding: 10px 0 !important;
  background-color: rgb(66, 109, 145);
}



.table-live th{
  padding: 0!important;
}


.nav-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px
  
}
.nav-container a {
  color: white;
  
}

.list-Players {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
  margin: 0;
  height: auto;
}


.container-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.container-teams ol {
  text-align: center;
  align-items: start;
}

.tittle-team {
  text-align: center;
}
h5 {
  text-align: center !important;
}

.list li {
  font-size: 15px;
}

/*  Api Afa */
.top-container {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.top-container h3 {
  margin: 0;
}

.logo-afa {
  display: flex;
  padding: 10px;
  width: 50px;
}

.info-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.local-logo {
  width: 20px;
  width: 20px;
  margin: 20px;
}



.article-container {
  display: flex!important;
  justify-content: space-around;
  margin-top: 0;
  padding: 0px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container p {
  margin: 10px;
}

.teams-container {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  align-items: center;
}

.teams-container p {
  margin: 0;
}

.ul-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.logo-tabla {
  width: 25px;
}

.table-container {
  table-layout: auto;
}

.info-api-container {
  text-align: center;
}

.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.ul-container li {
  list-style-type: none !important;
}

/* api weather  */

.logo-container {
  width: 30%;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(73, 82, 100);
}

.redes-container i {
  margin-left: 10px;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(73, 82, 100);
}

.top-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around !important;
  font-weight: bold;
  align-items: center;
}

p {
  margin: 0;
}

.img-card {
  width: 15%;
  height: 15%;
}
